<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Css/form1.css">
</head>

<body>
    <!-- FORMULARIO COMPONENTE -->
    <form action="" id="form2">
        <div class="cabecera-form">
            <h1 class="title-h1">¡Regístrate ahora!</h1>
            <a class="rrss">
                <p>Puedes utilizar tus redes sociales</p>
                <button class="btn-rrss-google">
                    <img src="/assets/icons/icon-google+.svg" alt="google">Google</button>
                <p>O bien</p>
            </a>
        </div>
        <div class="input-tratamiento">
            <label class="label-tratamiento" for="">TRATAMIENTO</label>
            <input type="radio">
            <label for="">Sr.</label>
            <input type="radio">
            <label for="">Sra.</label>
        </div>
        <div class="input-form">
            <label for="">Nombre</label>
            <input class="input-sesion" type="text" placeholder="Nombre">
        </div>
        <div class="input-form">
            <label for="">Apellido</label>
            <input class="input-password" type="text" placeholder="Apellido">
        </div>
        <div class="input-form">
            <label for="">Tipo de documento</label>
            <select name="dni" id="dni">
                <option value="">DNI</option>
                <option value="">PASAPORTE</option>
            </select>
        </div>
        <div class="input-form">
            <label for="">DNI/PASAPORTE</label>
            <input class="input-sesion" type="text" placeholder="00000000A">
        </div>
        <div class="input-form">
            <label for="">Dirección de correo electrónico</label>
            <input class="input-password" type="text" placeholder="ejemplo@gmail.com">
        </div>
        <div class="input-form">
            <label for="">Constraseña</label>
            <input class="input-password" type="text" placeholder="***************">
        </div>
        <div class="input-form">
            <label for="">Confirma tu contraseña</label>
            <input class="input-password" type="text" placeholder="***************">
        </div>
        <div class="input-form">
            <label for="">ID CARNET</label>
            <input class="input-sesion" type="text" placeholder="112245">
        </div>
        <div class="link-contraseña">
            <input class="input-checkbox" type="checkbox" name="" id="">
            <p>* He leído y entendido la <a href="">Politica de Privacidad</a></p>
            <input class="input-checkbox" type="checkbox" name="" id="">
            <p>Quiero recibir comunicaciones comerciales del Grupo RC Celta, autorizando la cesión de mis datos personales a sus entidades afiliadas para la presente finalidad.</p>
        </div>
        <button class="btn-submit" type="submit">REGISTRARME AHORA</button>
        
    </form>
</body>

</html>